## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [5]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
]

def phone_num(address_book):
    name_in = input('Enter a name: ')
    for entry in address_book:
        for item in entry:
            if name_in.title() == item:
                return entry[3]
    else:
        return -1

print(phone_num(address_book))

Enter a name: Brian
-1

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [12]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
d2 = dict()
print(d2)

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive',
}
print(d3)

d4 = dict(name='Zach', age=32, city='Tallahassee')
print(d4)

{}
{}
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}
{'name': 'Zach', 'age': 32, 'city': 'Tallahassee'}

In [14]:
print(d3['Tevin'])

100 Rodeo Drive

In [15]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [16]:
d3.get('Peter')

'321 Fake Street'

##### Accessing Values

In [ ]:
# dict[key]

##### .get()

In [ ]:
# dict.get('key') or dict.get('key', value_if_no_key)

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [27]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f'My favorite car is a {truck.get("year")} {truck.get("make")} {truck.get("model")}')

My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [28]:
d3['Zoey']='456 Main Street'
d3.get('Zoey')

'456 Main Street'

In [ ]:
# dict[key] = value

##### Modifying Values

In [29]:
# dict[key] = value
d3['Zoey']='654 Second Avenue'
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zoey': '654 Second Avenue'}

##### Removing Key, Value Pairs

In [31]:
# del dict[key]
del d3['Tevin']
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zoey': '654 Second Avenue'}

In [ ]:
# dict.pop('key') - remove key,value pair - returns value back to caller

In [34]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [36]:
removed_value=d3.pop('Zoey')
print(removed_value)
print(d3)

KeyError: 'Zoey'

##### Looping a Dictionary

In [37]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [38]:
# .items()
print(d3.items())

dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd')])

In [39]:
for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>

In [40]:
for key, value in d3.items():
    print('Key', key, 'Value', value)

Key Hank Value 123 Real Street
Key Peter Value 321 Fake Street
Key Sydney Value 555 Santa Monica Blvd

##### Looping Only Keys

In [41]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [42]:
# .keys()
print(d3.keys())

dict_keys(['Hank', 'Peter', 'Sydney'])

In [45]:
for key in d3.keys():
    print(key)

Hank
Peter
Sydney

In [47]:
#Looping over a dictionary, it will loop through ony the keys

In [ ]:
#You can always access the value in a dictionary from its key

##### Looping Only Values

In [50]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [51]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd'])

In [52]:
for val in d3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Blvd

In [53]:
val = '123 Real Street'
for key, value in d3.items():
    if val == value:
        print(key)

Hank

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [58]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

In [62]:
def eye_color(people):
    for person, color in people.items():
        print(f'{person.title()} has {color.lower()} eyes.')
eye_color(people)

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Larney has brown eyes.
Ted has purple eyes.

Dictionary Keys

In [64]:
#Keys must be a hashable object
#str, in, float, tuple, frozenset
dict_with_keys={
    'a':123,
    1:'abc',
    (1, 2):'Hello World',
}
print(dict_with_keys.get('a'))

123

##### List with Dictionaries

In [65]:
my_list = [1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a':1, 'b':2}]

In [67]:
print(my_list[6], type(my_list[6]))

{'a': 1, 'b': 2} <class 'dict'>

##### List of Dictionaries

In [70]:
movies=[
    {'title':'Inception', 'director':'Christopher Nolan', 'Release Year':2010},
    {'title':'The Social Network', 'director': 'David Fincher', 'Release year': 2010},
    {'title':'Parasite', 'director': 'Bong Joon Ho', 'Release Year':2019},
    {'Release Year':2006, 'title':'The Departed'}
]

##### Dictionaries with Lists

In [ ]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes

In [72]:
data = {
    'my_list':[10, 20, 30],
    0: ['a', 'b', 'c']
}

In [74]:
print(data['my_list'])
print(data[0])#this is not an index
data['my_list']

[10, 20, 30]
['a', 'b', 'c']

##### Dictionaries with Dictionaries

In [76]:
# to get values, must traverse through keys
my_shop = {
    'ice cream': {'vanilla':2.99,
                 'chocolate':2.99,
                 'oreo':3.49},
    'milkshake': {'vanilla':3.99,
                  'chocolate':3.99,
                  'oreo':4.49
        
    }
}
print(my_shop['ice cream']['vanilla'])

2.99

In [78]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [81]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

2

In [82]:
# List Comprehension
# [transform iterable filter]

nums = [x**2 for x in range(10) if x%2==0]
print(nums)

[0, 4, 16, 36, 64]

In [88]:
# Dictionary Comprehension
# {transform key:vale iterable filter}
square_nums = {str(x):x**2 for x in range(10) if x %2==1}
print(square_nums)

{'1': 1, '3': 9, '5': 25, '7': 49, '9': 81}

##### In Keyword with Dictionaries

In [90]:
#The In keyword will return True if the key is in the dictionary, False otherwise
print('3' in square_nums)

True

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [86]:
hash('hello')

2008904240882879033

In [87]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [91]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [92]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.14646196365356445

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [93]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}
first_set = set()

In [94]:
second_set = {3, 1, 5, 56}
print(second_set)
print(type(second_set))

{56, 1, 3, 5}
<class 'set'>

In [95]:
empty_set = set()
#empty_set = {} will create an empty dictionary

In [96]:
third_set = {1, 1, 1, 1, 3, 3, 3, 3, 2, 2, 2, 2 }
print(third_set)

{1, 2, 3}

In [97]:
for element in third_set:
    print(element)

1
2
3

##### .add()

In [98]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [103]:
third_set.add(44)
print(third_set)

{1, 3, 44}

##### .remove()

In [100]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [102]:
third_set.remove(2)
print(third_set)

KeyError: 2

##### .union()

In [104]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [ ]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s3=s1.union(s2)
print(s3)

In [107]:
s4=s2|s1
print(s4)

{1, 2, 3, 4, 5, 6}

##### .intersection()

In [108]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [110]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets
s5=s1.intersection(s2)
print(s5)
#s5 = s2 & s1

{3, 4}

##### .difference()

In [111]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [113]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s7=s1.difference(s2)
print(s7)

{1, 2}

In [114]:
s8 =s2-s1
print(s8)

{5, 6}

In [ ]:
# Sets can have any immutable type as a member
# int, float, boolean, str, tuple, class objects, functions
many_types_set = {1, 2.54, True, 'hello', (1, 2, 3), str, len}

In [ ]:
#cannot have a set of sets

##### .clear()

In [115]:
# Empties the whole set
# set.clear()
nums = {23, 576, 865, 45, 77}
print(nums)
nums.clear()
print(nums)

{576, 865, 77, 23, 45}
set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [116]:
#frozen sets are to sets what tuples are to lists

In [117]:
# frozenset([])
s3

{1, 2, 3, 4, 5, 6}

In [119]:
my_frozen_set = frozenset(s3)

In [120]:
help(frozenset)

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [122]:
my_frozen_set.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

In [123]:
#There is set comprehension, only difference is it uses {} instead of []
set_of_10 = {x for x in range(1, 11)}
print(set_of_10)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [124]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [126]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0
True
Elapsed time for list: 0.15082478523254395

In [127]:
def count_vowels(string):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    count = 0
    for letter in string:
        if letter.lower() in vowels:
            count+=1
    return count
count_vowels('Hello, my name is Inigo Montoya')

11

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [12]:
from IPython.display import clear_output

def address_book():
    addr_book=dict()
    while True:
        entry=input('Enter a name and address separated by a colon(:) or enter \'q:q\' to quit:  ')
        temp=entry.split(':')
        if entry == 'q:q':
            return addr_book
        else:
            addr_book[temp[0]]=temp[1]
            print('Name:  {}, Address: {}'.format(temp[0], temp[1]))

In [13]:
address_book()
# print(input())

Enter a name and address separated by a colon(:) or enter 'q:q' to quit:  zach:tally
Name:  zach, Address: tally
Enter a name and address separated by a colon(:) or enter 'q:q' to quit:  q:q

{'zach': 'tally'}

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [6]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'
# Output can be a list, set, tuple, or string

In [16]:
def times(person1, person2, person3, person4):
    available=[]
    person1=set(person1)
    person2=set(person2)
    person3=set(person3)
    person4=set(person4)
    time1=person1.intersection(person2)
    time2=person3.intersection(person4)
    time3=time1.intersection(time2)
    available.append(time3)
    print(available)

In [18]:
times(person1, person2, person3, person4)

[{'12:00', '14:30'}]

In [20]:
def times_two(*people):
    times=set(people[0])
    for person in people:
        times = times.intersection(set(person))
    return times

In [22]:
times_two(person1, person2, person3, person4)

{'12:00', '14:30'}